<div class="main-container">
  <h1>Jogo da Velha</h1>

  <div class="field d-flex justify-content-center">
    <p class="current-status">Comece o jogo clicando aqui</p>
  </div>

  <div *ngIf="this.game.gameStatus === 0" class="field">
    <button (click)="startGame()" mat-raised-button color="accent" class="start-game-button">Start Now!</button>
  </div>

  <div *ngIf="this.game.gameStatus === 1" class="gameboard">

    <div class="players player-one align-self-center">
      <p class="mat-body-1" style="font-weight: 700; margin: 0 0 10px 10px;">Player 1</p>
    </div>

    <div class="gamefield container-fluid">

      <div class="row">
        <div (click)="clickSubfield($event)" position="0" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="1" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="2" class="subfield col-4"></div>
      </div>
      <div class="row">
        <div (click)="clickSubfield($event)" position="3" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="4" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="5" class="subfield col-4"></div>

      </div>
      <div class="row">
        <div (click)="clickSubfield($event)" position="6" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="7" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="8" class="subfield col-4"></div>

      </div>
    </div>

    <div class="players player-tow align-self-center">
      <p class="mat-body-1" style="font-weight: 700; margin: 0 10px 10px 0;">Player 2 </p>
  </div>

</div>
